
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #272626;
  }
  
  /* Form styles */
  .form {
    width: 90%;
    background-color: #cacaca;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #333;
  }
  
  .input {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }

  .btn-reset{
    background-color: #58a5f8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
  }
  
 