/* Verify.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #c7c5c5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verify {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.paste {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
}

.inpBox {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-submit {
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(78, 78, 243);
    color: #f9f9f9;
}

